@charset "UTF-8";

/* ### Conteudo ### */
section#paginaConteudo {
	width: 100%;
	height: 600px;
	box-sizing: border-box;
	padding: 0px 80px;
	background-color: rgb(220,220,220);
}

section#paginaConteudo div#conteudo {
	width: 100%;
	height: 100%;
	background-color: white;
}


/* ---- aulas ---- */
section#aulas {
	height: 400px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 50px;
	color: black;
	background-color: white;
}

section#aulas div.imagem {
	margin-top: 30px;
	margin-left: -70px;
}

section#aulas div.imagem img {
	width: 250px;
	height: 250px;
}

section#aulas div.texto {
	margin-top: 140px;
	padding-left: 20px;
}

section#aulas div.texto p {
	color: rgba(255, 20, 147, 0.8);
	font-weight: bold;
	font-size: 16pt;
}

section#aulasPrincipal {
	width: 100%;
	height: 700px;
	box-sizing: border-box;
	padding: 60px;
	background-color: white;
}

section#paginaConteudo div.aulasConteudo {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 40px 25px;
	background-color: white;
}

section#paginaConteudo div.aulasConteudo div img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}


/* ---- plataformas ---- */
section#plataformas {
	height: 400px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 50px;
	padding-top: 80px;
	/* background: linear-gradient(to top ,rgba(135,206,235), white); */
	background-color: rgba(0, 0, 0, 0.05);
}

section#plataformas div img {
	width: 150px;
	height: 150px;
	 /* border-radius: 75px; */
}

section#plataformas div p {
	padding: 10px;
	text-align: center;
}

section#paginaConteudo div.plataformasConteudo {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 40px 25px;
	background-color: white;
}

section#paginaConteudo div.plataformasConteudo div {
	display: flex;
	justify-content: space-around;
	padding: 0px 15px;

}

section#paginaConteudo div.plataformasConteudo div img {
	width: 75%;
	height: 100%;
}

section#paginaConteudo div.plataformasConteudo div img:hover {
	filter: blur(2px);
}


/* ---- eventos ---- */
section#eventos {
	height: 400px;
	display: flex;
	justify-content: center;
	background-image: url('../imagens/roda.jpg');
	background-size: 1366px 400px;
	box-sizing: border-box;
	padding: 50px;
}

section#eventos p.texto {
	color: white;
}


.paginaPrincipal {
    width: 100%;
}

.videoPaginaInicial video {
    width: 100%;
}

#conteudo {
	position: absolute;
	border-radius: 10px;
	top: 100px;
	left: 535px;
	width: 350px;
	height: 400px;

	background-color: rgba(255, 255, 255, 0.9);
}